/*
100 Thin (Hairline)
200 Extra Light (Ultra Light)
300 Light
400 Normal
500 Medium
600 Semi Bold (Demi Bold)
700 Bold
800 Extra Bold (Ultra Bold)
900 Black (Heavy)
*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.eot');
    src: url('Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BlackItalic.woff') format('woff'),
         url('Roboto-BlackItalic.woff2') format('woff2'),
         url('Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.eot');
    src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Black.woff') format('woff'),
         url('Roboto-Black.woff2') format('woff2'),
         url('Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.eot');
    src: url('Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BoldItalic.woff') format('woff'),
         url('Roboto-BoldItalic.woff2') format('woff2'),
         url('Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.woff2') format('woff2'),
         url('Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.eot');
    src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic.woff') format('woff'),
         url('Roboto-LightItalic.woff2') format('woff2'),
         url('Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light.woff') format('woff'),
         url('Roboto-Light.woff2') format('woff2'),
         url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.eot');
    src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-MediumItalic.woff') format('woff'),
         url('Roboto-MediumItalic.woff2') format('woff2'),
         url('Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium.woff') format('woff'),
         url('Roboto-Medium.woff2') format('woff2'),
         url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-RegularItalic.eot');
    src: url('Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-RegularItalic.woff') format('woff'),
         url('Roboto-RegularItalic.woff2') format('woff2'),
         url('Roboto-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular.woff') format('woff'),
         url('Roboto-Regular.woff2') format('woff2'),
         url('Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.eot');
    src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic.woff') format('woff'),
         url('Roboto-ThinItalic.woff2') format('woff2'),
         url('Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.eot');
    src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin.woff') format('woff'),
         url('Roboto-Thin.woff2') format('woff2'),
         url('Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-style: italic;
}
